# API Keys
FINNHUB=
ALPHA_VANTAGE=
ALLTICK=
NEWSAPI=
MARKETAUX=

# Managed Kafka Config (Confluent / AWS MSK)
KAFKA_BOOTSTRAP_SERVERS=

# Snowflake credentials here
SNOWFLAKE_USER=
SNOWFLAKE_PASSWORD=
SNOWFLAKE_ACCOUNT=

# Hugging Face 
HF_API_TOKEN=